body {
  margin: 0;
  text-align: center;
  cursor: pointer;
}

#logo {
  width: 80%;
  position: absolute;
}

#blackout {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0;
}
